@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Pacifico|Shadows+Into+Light|Vollkorn&display=swap');
@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah&display=swap');
@import url('https://fonts.googleapis.com/css?family=Caveat&display=swap');



body{
    background-color: bisque;
    margin:0px;
    padding: 0px;
    background-image: url("https://vignette.wikia.nocookie.net/harrypotter/images/b/bd/Dhogwarts.jpg/revision/latest?cb=20120128145344");
}
h2{
    color:red;
}
 img{
     max-height: 150px;
     max-width: 150px;
 }

 #studentId {
     display: flex;
     flex-direction: row;
 }

 .card {
     max-width: 300px;
 }
 .jumbotron h1{
    font-family: 'Pacifico', cursive;
 }
 .jumbotron p{
    font-family: 'Shadows Into Light', cursive;
 }
 .jumbotron a{
    font-family: 'Vollkorn', serif;
 }
 form h2{
    font-family: 'Gloria Hallelujah', cursive;
 }
 form small{
    font-family: 'Caveat', cursive;
    font-size: 40px;
 }